<div class="col-xs-12 col-md-8 col-lg-8">


<% if @work.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@work.errors.count, "error") %>.
    </div>
    <ul>
    <% @work.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div style="width:100%">
    <%= form_for @work do |f| %>
    	<%= f.label :title %><br />
		<%= f.text_field :title %><br />

		<%= f.label :image %><br />
		<%= f.text_field :image %><br />

		<%= f.label :description %><br />
		<%= f.text_area :description%><br />

		<%= f.label :tag %><br />
		<%= select("work", "tag_id", Tag.all.collect {|s| [s.name, s.id]}, {include_blank: true})
		<%= f.submit 'OK', class:'btn btn-success' %>
    <% end %>
</div>
</div>
