<div class="col-xs-12 col-md-8 col-lg-8">


	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>New</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.name %></td>
				<td><%= link_to 'NEW', new_tag_path %></td>
				<td><%= link_to 'SHOW', tag %></td>
				<td><%= link_to 'EDIT', edit_tag_path(tag) %></td>
				<td><button class="btn button-danger"><%= link_to 'DELETE', tag, method: :delete, data: {confirm: 'Are you sure?'} %></button></td>
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>
</div>
