<!DOCTYPE html>
<html>
  <head>
    <title>Grapholio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli:200" rel="stylesheet">
  </head>

  <body>
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-md-4 col-lg-4">
		            <div id="brand">
		                <p>niyazi</p><br />
		                <p>tanyıldız</p>
		            </div>
		            <div class="clearfix"></div>
		            <div id="sidebar">
		                <ul class="category">
		                	<% tag.each do |f| %>
		                    	<li><%= link_to f.name, tags_path(params[:id]) %></li>
		                    <% end %>
		                </ul>
		            </div>
		        </div>
  	<%= yield %>
  </body>
</html>
